# Ignore dirs and filetypes
private/
CLASES/
*mock*
*test*
*bak*
*.zip
*.pdf
*.todo
canvas.log

# Ignore Office suite
*.odp
*.ppt
*.pptx
*.docx
*.accdb

# Ignore Packet Tracer files
*.pksz
*.pka
*.pkt
*.pcapng

# Allow exceptions
!EXC*
