# Ignore dirs and filenames 
2022/
CLASES/
bak/
mocks/
*-mock/
test*/
*test/
*test*.*
*mock*.*
*bak*.*

# Ignore filetypes
*.pdf
*.todo
*.tree

# Ignore Office suite
*.odp
*.ppt
*.pptx
*.docx
*.accdb

# Ignore Packet Tracer files
*.pksz
*.pka
*.pkt
*.pcapng

# Allow exceptions
!EXC*

# ISO ud10
ISO/UD10*/

# Universidad Europea
private/
canvas.log
