div{
    padding-top: 30px;
    padding-left: 20px;
}

a{
    font-size: 20px;
    color: black;
    text-decoration: none; /*contra default para enlaces*/
}

a:link{
    color: red;
}

a:visited{
    color: yellowgreen;
}

a:active{
    background-color: red;
    color: white;
}

a:hover{
    text-decoration: underline;
    font-size: 30px;
    background-color: black;
    color: white;
}

/* p{
    text-decoration: underline overline;
} */