body {
    background-image: url(https://thumbs.dreamstime.com/b/winter-christmas-morning-defocus-abstract-show-gentle-blue-festive-lights-bright-background-backdrop-magic-164527026.jpg);
}

.lista1 {
    list-style: square;
    color: darkblue;
}

.listaOrd1 {
    background-color: lightskyblue;
    margin-right: 60%;
    border: 1px solid black;
}

.listaOrd2 {
    background-color: lightgoldenrodyellow;
    margin-right: 60%;
    border: 1px dotted black;
}